#objectlist {
    float:left;
    width: 20%;
}

#tabslist {
    float:left;
    width:60%
}

#output {
    float:left;                 
    width:100%;
    height:150px;
    font-family:monospace;
}

#container {
    width:100%;
}

#plot {
    float:left;
    width:60%;
    height:400px;
}

.glyphicon-link {
    font-size: 2.8em;
}

.glyphicon-link:hover {
    cursor:pointer;
}

.wsOn {
    color:green;
} 

.wsOff {
    color:red;
} 

#input_eval {
    font-family:monospace;
    background-color:black;
    color:white;
}

/* since we have many trees, don't want them selected */

.nav-pills li .active a:focus {
    color: "red";
    background-color: "black"
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 600px;
}