#objectlist {
    float:left;
    width: 30%;
}

#output {
    float:left;
    width:60%;
    height:300px;
    font-family:monospace;
}

#container {
    width:100%;
}

#plot {
    float:left;
    width:60%;
    height:300px;
}

.glyphicon-link {
    font-size: 3.2em;
}

.glyphicon-link:hover {
    cursor:pointer;
}

.wsOn {
    color:green;
} 

.wsOff {
    color:red;
} 

#input_eval {
    font-family:monospace;
}