table {
    font-size: smaller;
}

.glyphicon:hover {
    cursor:pointer;
}

.wson {
    color:green;
} 

.wsoff {
    color:red;
} 

#input_eval {
    font-family:monospace;
    background-color:black;
    color:white;
}

#datagrid {
    border: 0px solid rgb(212,212,212);
    width: 100%; 
    height: 600px;
}

#object-grid {
    height: 900px;
    font-size: smaller; 
}

#raw-container {
    height: 900px;
    font-size: smaller; 
}