table {
    font-size: smaller;
}

#filedrop {
    background-color: red;
}

.glyphicon-link {
    font-size: 2.8em;
}

.glyphicon:hover {
    cursor:pointer;
}

.wsOn {
    color:green;
} 

.wsOff {
    color:red;
} 

#input_eval {
    font-family:monospace;
    background-color:black;
    color:white;
}

#datagrid {
    border: 0px solid rgb(212,212,212);
    width: 100%; 
    height: 600px;
}

#object-grid {
    height: 900px;
    font-size: smaller; 
}

#raw-container {
    height: 900px;
    font-size: smaller; 
}