table {
    font-size: smaller;
}

.glyphicon:hover {
    cursor:pointer;
}

.wson {
    color:green;
} 

.wsoff {
    color:red;
} 

#input_eval {
    font-family:monospace;
    background-color:black;
    color:white;
}

.navbar-brand {
    font-size: 35px;
}

#datagrid {
    border: 0px solid rgb(212,212,212);
    width: 100%; 
    height: 600px;
}

html,body
{
  height: 100%;
}

#spyre-container
{ 
    height: 100%;
}

#spyre-grid
{ 
    height: calc(100% - 85px);
}

#object-list {
    height: 100%;
}

#object-grid {
    height: 95%;
    font-size: smaller;
}

#raw-container {
    height: 100%;
    font-size: smaller; 
}

#footer {
    height:60px;
    background-color: red;
}

#messages {
    font-size: 10px;
    height: 100%;
    overflow-y: auto;
}
