<tab heading="Import" ng-controller="importController">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>RData</h4>
    </div>
    
    <form ng-submit="callr(import_rdata_url)">
      <label>URL of RData File</label>
      <input type="text" ng-model="import_rdata_url.args.url" class="form-control">
              </input>
              
              <button type="submit" class="btn btn-default">Import</button>

    </form>


  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>Quandl Importer</h4>
    </div>


    <form role="form" ng-submit="callr(import_quandl)">
      <div class="form-group">
        <label for="import_quandl_code">Quandl Code</label>
        <input type="text" class="form-control" id="import_quandl_code" 
               ng-model="import_quandl.args.quandl_code">

        <label for="import_quandl_object">Object Name</label>
        <input type="text" class="form-control" id="import_quandl_object" 
               ng-model="import_quandl.args.object_name">

      </div>
      <button type="submit" class="btn btn-default">Import</button>
    </form>
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>HTTP API Importer</h4>
    </div>


    <form role="form" ng-submit="callr(import_http_api)">
      <div class="form-group">
        <label for="import_http_url">URL</label>
        <input type="text" class="form-control" id="import_http_url" 
               placeholder="URL"
               ng-model="import_http_api.args.url">
      </div>

      <label for="import_http_object">Object Name</label>
      <input type="text" class="form-control" id="import_http_object" 
             ng-model="import_http_api.args.object_name">

      <button type="submit" class="btn btn-default">Import</button>
    </form>


  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>SAS7BDAT</h4>
    </div>
    
    <form ng-submit="callr(import_sas7bdat_url)">
      <label>URL of SAS7BDAT File</label>
      <input type="text" ng-model="import_sas7bdat_url.args.url" class="form-control">
              </input>

              <label for="import_sas7bdat_object">Object Name</label>
              <input type="text" class="form-control" id="import_sas7bdat_object" 
                     ng-model="import_sas7bdat_url.args.object_name">

              
              <button type="submit" class="btn btn-default">Import</button>

    </form>


  </div>

</tab>
