<nav class="row col-md-12 navbar navbar-inverse" role="navigation">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SPYRE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="spyre_server" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="toggle_connect()">
          <span ng-class="{wson: isConnected}" class="glyphicon glyphicon-link"></span></button>
      </form>
      
      <ul class="nav navbar-nav navbar-left" ng-show="data_is_selected">
        <li><a href="#">Active Data: {{selected_data}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <!-- session information -->
        <li ng-controller="SessionController">
          <script type="text/ng-template" id="about.html">
            <div class="about modal-header">
              <h4>sessionInfo()</h4>
            </div>
            <div class="about modal-body">
              <pre>{{session_info}}</pre>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Dismiss</button>
            </div>
          </script>
          <a href ng-click="get_session_info()" id="session">Session Info</a>
        </li>


        <li><a href="#">Settings</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
