<!doctype html>
<html ng-app>
  <head>
    <title>Spyre</title>
    <link rel="stylesheet" type="text/css" href="http://tenxer.github.io/xcharts/css/master.css" />
    <link rel="stylesheet" type="text/css" href="./assets/spyre.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>

  <body ng-controller="MainController">
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" 
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="status" class="glyphicon glyphicon-link" 
               ng-class="isConnected ? 'wsOn' : 'wsOff'"
               ng-controller="iconController" ng-click="toggle_connect()">
          </div>

        </div>

        <div class="navbar-collapse collapse">

          <a class="navbar-brand" href="#">Spyre</a>
          <form class="navbar-form navbar-left" ng-controller="evalController"
                ng-submit="eval_me()">
            <input type="text" class="form-control" placeholder="Eval ..."
                   ng-model="eval_string" id = "input_eval">
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
      
    </div>
      
    <div id="container">
      <div id="objectlist">
        <h4>Object List</h4>
        <table id="object_table" class="table table-collapsed">
          <thead>
            <td>Name</td>
            <td>Class</td>
            <td>Dim</td>
            <td>Size (kb)</td>
          </thead>
          
          <tbody>
          <tr ng-repeat="object in test" ng-click="send_object(object.name)">
            <td><a> {{ object.name }}</a> </td>
            <td><a> {{ object.class }}</a> </td>
            <td><a> {{ object.dim }}</a> </td>
            <td><a> {{ object.size }}</a> </td>
          </tbody>
        </table>
      </div>
      <div id="output">
        <h4>Output Summary</h4>
        <pre>
        {{object_summary}}
        </pre>
      </div>
      <div id="plot">
        <h4>Graphical Output</h4>
      </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://tenxer.github.io/xcharts/js/xcharts.min.js"></script>
    <script src="./assets/ws_events_dispatcher.js"></script>
    <script src="./assets/spyre.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"</script?
  </body>
</html>
