<!doctype html>
<html ng-app="spyre">
  <head>
    <title>spyre: Explore Your Data</title>
    <link rel="stylesheet" type="text/css" href="./assets/spyre.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./assets/angular-bootstrap-nav-tree/dist/abn_tree.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//angular-ui.github.io/ng-grid/css/ng-grid.css" rel="stylesheet">

    <!-- added for ggvis -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="./assets/ggvis/ggvis.css"/>
  </head>

  <body ng-controller="MainController">


<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spyre</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="ws://localhost:7681" ng-model="spyre_server">
        </div>
        <button type="submit" class="btn btn-default" ng-click="toggle_connect()"><span class="glyphicon glyphicon-link"></span></button>
      </form>
      {{spyre_server}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Settings</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      
    <div id="container" class="container col-md-2">
      
      <div id="objectlist"> 

        <div class="btn-group" dropdown >
          <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled" ng-model="selected_env">
            {{selected_env}} <span class="caret"></span>
          </button>
          <div ng-show="data_is_selected">Selected Data: {{selected_data}}</div>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="env in envs track by $index" ng-click="selected(env)"><a href="#">{{env}}</a></li>
          </ul>
        </div>

        <div class="btn-group" dropdown >
          <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="action in actions"><a href="#">{{action}}</a></li>
          </ul>
        </div>

        <div id="uplevel" tooltip="{{tt.uplevel}}" class="glyphicon glyphicon-arrow-up" 
             ng-click="object_level_up()">
        </div>
        <div tooltip="{{tt.refresh}}" id="refresh" class="glyphicon glyphicon-refresh" 
             ng-click="object_list_refresh()">
        </div>
          
        <div id="object-grid" class="gridStyle", ng-grid="gridOptions"></div>
          
      </div>
    </div>

    <div id="tabslist" ng-controller="tabsController" class="col-md-8">

      <tabset>

          <tab heading="Univariate Explorer">
            <h1>{{selected_object[0][0]}}</h1>

                  <div id="output" class="row col-md-6">
                    <h4>Summary</h4>
                    <pre>{{object_summary}}</pre>
                  </div>

                  <div id="plot" class="row col-md-4">
                    <h4>Plot</h4>

                    <div id="ggvis_univariate-container" class="ggvis-output-container">
                      <div id="ggvis_univariate" class="ggvis-output"></div>
                      <div class="plot-gear-icon">
                        <nav class="ggvis-control">
                          <a class="ggvis-dropdown-toggle" title="Controls">⚙</a>
                          <ul class="ggvis-dropdown">
                            <li>
                              Renderer: 
                              <a id="ggvis_univariate_renderer_svg" class="ggvis-renderer-button" 
                                 data-plot-id="ggvis_univariate" data-renderer="svg">SVG</a>
                              | 
                              <a id="ggvis_univariate_renderer_canvas" class="ggvis-renderer-button" 
                                 data-plot-id="ggvis_univariate" data-renderer="canvas">Canvas</a>
                            </li>
                            <li>
                              <a id="ggvis_univariate_download" class="ggvis-download" 
                                 data-plot-id="ggvis_univariate">Download</a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    
                  </div> <!-- plot -->
          </tab>

          <tab heading="Multivariate Explorer" ng-controller="mvController">
            <div id="mv-button-container" class="row">

              <div class="btn-group" dropdown >
                <button type="button" class="btn dropdown-toggle" 
                        ng-model="objects_tree">{{target.x.label}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="object in objects_tree" ng-click="select('x', object)">
                    <a href="#">{{object.label}}</a></li>
                </ul>
              </div>

              <div class="btn-group" dropdown >
                <button type="button" class="btn dropdown-toggle">{{target.y.label}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="object in objects_tree" ng-click="select('y', object)">
                    <a href="#">{{object.label}}</a></li>
                </ul>
              </div>
            </div>
                  

            <div id="output" class="row">
              <h4>Summary</h4>
              <pre>{{object_summary}}</pre>
            </div>



            <div id="plot" class = "row">
              <h4>ggvis</h4>

              <div id="ggvis_multivariate-container" class="ggvis-output-container">
                <div id="ggvis_multivariate" class="ggvis-output"></div>
                <div class="plot-gear-icon">
                  <nav class="ggvis-control">
                    <a class="ggvis-dropdown-toggle" title="Controls">⚙</a>
                    <ul class="ggvis-dropdown">
                      <li>
                        Renderer: 
                        <a id="ggvis_multivariate_renderer_svg" class="ggvis-renderer-button" 
                           data-plot-id="ggvis_univariate" data-renderer="svg">SVG</a>
                        | 
                        <a id="ggvis_multivariate_renderer_canvas" class="ggvis-renderer-button" 
                           data-plot-id="ggvis_multivariate" data-renderer="canvas">Canvas</a>
                      </li>
                      <li>
                        <a id="ggvis_multivariate_download" class="ggvis-download" 
                           data-plot-id="ggvis_multivariate">Download</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
                    
            </div> <!-- plot -->

            <div id="ggplot" class="row">
              <img ng-src="{{ggplot_path}}"></img>
              ggplot_path is: {{ggplot_path}}
            </div>


            
          </tab>


          <tab heading="Modeling">
          </tab>

          <tab heading="Raw Data Explorer" ng-controller="rawController">
            <div id="raw-container" class="gridStyle", ng-grid="gridOptions"></div>
          </tab>

          <tab heading="Live Console" >

            <form class="navbar-form navbar-left" ng-controller="evalController" ng-submit="eval_me()">
              <i class="fa fa-terminal fa-2x fa-inverse"></i>
              <input type="text" class="form-control" placeholder="Eval ..."
                     ng-model="eval_string" id = "input_eval"></input>
            </form>

          </tab>

          <tab heading="Import Data" ng-controller="importController">

            <div class="panel panel-default col-md-4">

              <div class="panel-heading">
                <h3>RData Importer</h3>
              </div>

              <div id="filedrop4" class="panel-body" file-dropzone file="ctrlBoundFile">Drop File Here</div>

              <form class="navbar-form navbar-left" ng-submit="import_csv()">
                <i class="fa fa-terminal fa-2x fa-inverse"></i>
                <input type="text" class="form-control" placeholder=""
                       ng-model="eval_string" id = "input_eval"></input>
              </form>

            </div>

            <div class="panel panel-default col-md-4">

              <div class="panel-heading">
                <h3>Clipboard Importer</h3>
              </div>

              <div id="filedrop9" class="panel-body" file-dropzone file="ctrlBoundFile">Drop File Here</div>

              <form class="navbar-form navbar-left" ng-submit="import_csv()">
                <i class="fa fa-terminal fa-2x fa-inverse"></i>
                <input type="text" class="form-control" placeholder=""
                       ng-model="eval_string" id = "input_eval"></input>
              </form>

            </div>


            <div class="panel panel-default col-md-4">
              <div class="panel-heading">
                <h3>CSV Importer</h3>
              </div>

              <div id="filedrop" class="panel-body" ng-paste="ctrlBoundFile">Paste Data Here</div>
              {{ctrlBoundFile}}

              <form class="navbar-form navbar-left" ng-submit="import_csv()">
                <i class="fa fa-terminal fa-2x fa-inverse"></i>
                <input type="text" class="form-control" placeholder=""
                       ng-model="eval_string" id = "input_eval"></input>
              </form>

            </div>




            <div class="panel panel-default col-md-4">

              <div class="panel-heading">
                <h3>XLSX Importer</h3>
              </div>

              <div id="filedrop2" class="panel-body" file-dropzone file="ctrlBoundFile">Drop File Here</div>

              <form class="navbar-form navbar-left" ng-submit="import_csv()">
                <i class="fa fa-terminal fa-2x fa-inverse"></i>
                <input type="text" class="form-control" placeholder=""
                       ng-model="eval_string" id = "input_eval"></input>
              </form>

            </div>

            <div class="panel panel-default col-md-4">

              <div class="panel-heading">
                <h4>Quandl Importer</h4>
              </div>


              <form role="form" ng-submit="quandl_import()">
                <div class="form-group">
                  <label for="import_quandl_code">Quandl Code</label>
                  <input type="text" class="form-control" id="import_quandl_1" placeholder="Enter Quandl Code"
                         ng-model="quandl_code">
                </div>
                You entered: {{quandl_code}}
                <button type="submit" class="btn btn-default">Import</button>
              </form>
            </div>


            <div class="panel panel-default col-md-4">

              <div class="panel-heading">
                <h4>HTTP API Importer</h4>
              </div>


              <form role="form" ng-submit="quandl_import()">
                <div class="form-group">
                  <label for="import_quandl_code">URL</label>
                  <input type="text" class="form-control" id="import_http_1" placeholder="Enter URL"
                         ng-model="http_url">
                </div>
                You entered: {{http_url}}
                <button type="submit" class="btn btn-default">Import</button>
              </form>


            </div>

          </tab>

        </tabset>
      </div>

      
    </div> <!-- objectlist -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-animate.js"></script>

    <script src="./assets/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script> -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="./assets/ws_events_dispatcher.js"></script>
    <script src="./assets/spyre.js"></script>

    <!-- added for extension's functionality -->
    <script src="./assets/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="./assets/ggvis/vega.min.js"></script>
    <script src="./assets/ggvis/lodash.min.js"></script>
    <script>var lodash = _.noConflict();</script>
    <script src="./assets/ggvis/ggvis.js"></script>

    <script src="//angular-ui.github.io/ng-grid/lib/ng-grid.debug.js"></script>
    <script src="//angular-ui.github.io/ng-grid/lib/ng-grid-layout.js"></script>
    <script src="./assets/angular-file-dnd/dist/angular-file-dnd.js"></script>

  </body>
</html>
